input:not([type="submit"]) {
    border: 2px solid green;
}
input:disabled {
    border: 2px solid #009;
    background-color: #666;
}
#username:focus {
    /* border-color: yellow; */
    background-color: yellow;
}
